/* Fuente Arimo desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    background-color: #1a2a41;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR DEL FORMULARIO -------------------------- */
.contenedor-padre {
    background-color: #3B82F6;
    padding: 35px 50px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
}

/* TÍTULO -------------------------- */
.contenedor-padre h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #FACC15;
    font-size: 1.8em;
    letter-spacing: 1px;
}

/* FORMULARIO -------------------------- */
.contenedor-padre form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 9px;
    background-color: #ffffff;
    color: #001219;
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px; /* Añadido espacio entre inputs */
}

input:focus {
    border-color: #FACC15;
    background-color: #fff8db;
}

/* BOTÓN -------------------------- */
.enviar {
    background-color: #FACC15;
    color: #001219;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px; /* Añadido para separarlo de los inputs */
}

.enviar:hover {
    background-color: #1a2a41;
    color: white;
}

/* TEXTO DE ENLACE -------------------------- */
.registro-texto {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center; /* Centrado en pantallas pequeñas */
}

.registro-texto a {
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

.registro-texto a:hover {
    color: #FACC15;
    border-bottom: 1px solid #FACC15;
}

/*  MENSAJES DE ERROR -------------------------- */
.error {
    color: #FACC15;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border: 1px solid #bb3e03;
    margin-top: 10px;
}

/* --- ESTILOS RESPONSIVOS --- */
@media (max-width: 900px) {
    .contenedor-padre {
        width: 100%; 
    }

    .contenedor-padre h1 {
        font-size: 1.6em; 
    }

    input[type="text"], input[type="email"],
    input[type="password"] {
        font-size: 0.9em; 
    }

    .enviar {
        font-size: 1em;   }

    .registro-texto {
        font-size: 0.8em;  }
}
